Dates Examples

In [1]:
from datetime import date

todaydt = date.today()
print('today is:', todaydt)

today is: 2023-01-14

In [2]:
print('Year =', todaydt.year)
print('Month =', todaydt.month)

Year = 2023
Month = 1

In [3]:
type(todaydt)

datetime.date

In [4]:
# convert date object to strings
dt = todaydt
dt.strftime("%d-%m-%Y")

'14-01-2023'

- %d refers to day of the month. In 20-10-2019, %d returns 20. 
- %m refers to month of the year. In 20-10-2019, %m returns 10.
- %Y refers to year. The letter 'Y' is in upper case. In 20-10-2019, %Y returns 2019.
- %y refers to year in two-digit format. In 20-10-2019, %y returns 19.

Other popular format codes
- %a returns the first three letter of the weekday Sun
- %A returns the complete name of the weekday Sunday
- %b returns the first three letters of the month Oct
- %B returns the complete name of the month October

In [5]:
dt.strftime("%d/%m/%Y")

'14/01/2023'

In [6]:
dt.strftime("%b %d, %Y")

'Jan 14, 2023'

In [8]:
dt.strftime("%A, %B %d, %Y")

'Saturday, January 14, 2023'

### Time

In [16]:
from datetime import time
t = time(21, 2, 3)
print(t)

21:02:03

In [14]:
print(t.hour)
print(t.minute)

21
2

### Handle Both Dates and Time

- we have another library called datetime 
- it has another class named datetime.datetime class which is used to represent date plus time. 
- You can call it timestamp. now() or today() method of datetime class is used to extract current date and time.

In [18]:
import datetime
dt = datetime.datetime.now()
print(dt)

2023-01-14 06:31:17.840776

In [19]:
dt.strftime("%c")

'Sat Jan 14 06:31:17 2023'

In [26]:
#get current time
print(dt.time())

10:03:00

In [27]:
#current day of the week
dt.isoweekday()

5

In [22]:
#create fixed datetime object
dt = datetime.datetime(2020, 11, 20, 10, 3, 0)
print(dt)

2020-11-20 10:03:00

In [24]:
# convert a string to datetime
from dateutil.parser import parse
print(parse('December 01, 2022'))

2022-12-01 00:00:00

### Time Delta

In [28]:
#30 days ahead
delta = datetime.timedelta(days=30)
print(dt + delta)

2020-12-20 10:03:00

In [29]:
#add days, times, and mins
delta = datetime.timedelta(days= 10, hours=3, minutes=30, seconds=30)
print(dt + delta)

2020-11-30 13:33:30

### Difference Between 2 Dates

In [30]:
date1 = datetime.date(2020, 10, 25)
date2 = datetime.date(2019, 12, 25)
diff = date1- date2
diff.days

305

In [31]:
#to calculate number of months (better than dividing by 30 days since it's not accurate)
date1.month - date2.month + 12*(date1.year - date2.year)

10

In [ ]:
>>> from datetime import datetime, timedelta
>>> from pytz import timezone
>>> import pytz
>>> utc = pytz.utc
>>> utc.zone
'UTC'
>>> eastern = timezone('US/Eastern')
>>> eastern.zone
'US/Eastern'
>>> amsterdam = timezone('Europe/Amsterdam')
>>> fmt = '%Y-%m-%d %H:%M:%S %Z%z'

### Pandas with Dates

In [32]:
import pandas as pd
df=pd.DataFrame({"A":["2019-01-01", "2019-05-03", "2019-07-03"],
                 "B":["2019-03-02", "2019-08-01", "2019-10-01"] })
df

            A           B
0  2019-01-01  2019-03-02
1  2019-05-03  2019-08-01
2  2019-07-03  2019-10-01

In [33]:
df.dtypes

A    object
B    object
dtype: object

In [34]:
#convert to datetime
df['A'] = pd.to_datetime(df['A'])
df['B'] = pd.to_datetime(df['B'])
df.dtypes

A    datetime64[ns]
B    datetime64[ns]
dtype: object

In [35]:
# now you can run datetime operations
df['C'] = df['B'] - df['A']
df

           A          B       C
0 2019-01-01 2019-03-02 60 days
1 2019-05-03 2019-08-01 90 days
2 2019-07-03 2019-10-01 90 days

In [36]:
# to remove the days in the field
df['C'] = (df['B'] - df['A']).dt.days
df

           A          B   C
0 2019-01-01 2019-03-02  60
1 2019-05-03 2019-08-01  90
2 2019-07-03 2019-10-01  90

More resources and examples https://www.listendata.com/2019/07/how-to-use-datetime-in-python.html