# Python Fundamentals

## Arithmetic Operations

In [1]:
1 + 10

11

In [2]:
5 ** 2

25

In [3]:
#PEMDAS 
5 + 4 * 6

29

In [4]:
# mod operator
10 % 3

1

In [5]:
10 % 2

0

In [6]:
print('Hello, World!')

Hello, World!

## Using Variables

In [7]:
x = 5

In [8]:
x + 10

15

In [9]:
x = 10
y = 20

In [10]:
x + y

30

In [11]:
print('Difference between x & y:', y - x)

Difference between x & y: 10

> Using print allows for multi-line output

In [12]:
print(x + y,'\n') # results with new line
print(x * y)

30

200

In [13]:
print(x + y, x * y)

30 200

### Defining Multiple Variables

In [14]:
#style 1
x = 6
y = 10
z = 5.6

In [15]:
#style 2
x, y, z = 6, 10, 6.6

In [16]:
# print out all variables with a tab separator 
print('x=',x,'\ty=',y,'\tz=',z)

x= 6 	y= 10 	z= 6.6

Python Variables/Identifiers
- It's a name used to identify variable, function, class, or object
- Can be a combination of:
    - letters in lowercase or uppercase
    - digits
    - underscore
- An identifier cannot start with a digit, but can be of any length
- Special chars (!, @, #, $, %) cannot be used
- Avoid using reserved words, like list or class
- They are case sensitive. Example: a is not the same thing as A

In [17]:
A = 10

In [18]:
print(a)

NameError: name 'a' is not defined

## Logical Operators

Examples: >, ==, != (does not equal)

In [ ]:
a = 30
b = 30

In [ ]:
a == b

True

In [ ]:
a < b

False

In [ ]:
a = 100
b = 10

a >= b #greater or equals to

True

In [ ]:
# combine 2 logical operators

a > b and a > 40

True

with `and` both conditions have to be satisfied

In [ ]:

a > b and a == 40 #

False

with `or` either one has to be true

In [ ]:
a > b or a == 40

True

## Importing Libraries
- When you install Python, it comes with standard libraries (functionalities)
- A library is an extension to python's capability
- To add new libraries, you need to install then import

In [ ]:
import math #imports the math library with its functions

In [ ]:
# get the square root of 1024
math.sqrt(1024)

32.0

## Data Types
In Python, objects have data types. We have multiple data types:
- Numbers: integers and floats (decimal)
- Strings: sequence of chars
- Lists: multiple items in a sequence
- Tuples:  multiple items in a sequence
- Sets: multiple unique items in a sequence
- Dictionaries: collection of information ina  key-value set
- Booleans: 2 values True or False

### Numbers

In [ ]:
x = 40
y = 5.8

In [ ]:
print('Type of x:',type(x),'Type of y:',type(y))

Type of x: <class 'int'> Type of y: <class 'float'>

In [ ]:
# convert y to int
int(y)

5

### Strings

We have 3 ways to define strings
- using single quotes
- using double quotes
- using triple single quotes for multiline string

In [ ]:
my_str = 'This is a string'
#same as
my_str = "This is a string"

In [ ]:
type(my_str)

str

A situation where using double quotes is recommended

In [ ]:
my_str = "here's your code"

Multi-line Text

In [ ]:
message = '''Hi,
I hope you are doing well.
Kind regards
    '''

print(message)

Hi,
I hope you are doing well.
Kind regards

Use backward slash to escape special chars

In [ ]:
my_str = " this is a double quote \" char"

### String Concatenation with `print()`

In [ ]:
num_fruits = 40
fruit = 'apple'

In [ ]:
# method 1
print('We have', num_fruits, fruit)

We have 40 apple

In [ ]:
#method 2 - need to convert data types to str and add spaces
# useful when you don't want to add spaces
#useful when you need to control where to use spaces between variables
print('We have'+str(num_fruits)+fruit)

We have40apple

In [ ]:
# method 3
print('We have {} {}'.format(num_fruits, fruit))

We have 40 apple

In [ ]:
# advantage of format method
print('We have {0} {1}s. {1}s are delicious'.format(num_fruits, fruit))

We have 40 apples. apples are delicious

In [ ]:
my_text = '''We have {0} {1}s.
{1}s are delicious.'''.format(num_fruits, fruit)

print(my_text)

We have 40 apples.
apples are delicious.

In [ ]:
# method 4
print(f'We have {num_fruits} {fruit}s. {fruit}s are delicious')

We have 40 apples. apples are delicious

In [ ]:
# you format numbers in f string

pie = 3.1415
print(f'The value of pie is: {pie:.2f}') #float with 2 decimal nums

The value of pie is: 3.14

To get the length or num of chars ina  string:

In [ ]:
len(my_text)

40

String Formatting

In [ ]:
my_title = "thIS is A tItLe"

# display in all upper case
my_title.upper()

'THIS IS A TITLE'

> Code above only displays the new format. It doesn't overwrite the original. To do so, do the following:

In [ ]:
title = my_title.upper()
title

'THIS IS A TITLE'

In [ ]:
my_title.title() #capitalizes the string for a title format

'This Is A Title'

### String Indexing and Slicing

In [ ]:
d = 'Sunday'

- every string has an index location
- the index starts at 0
```
 S u n d a y
 0 1 2 3 4 5
```

In [ ]:
# get the 3rd item
d[2]

'n'

In [ ]:
# use  - note that the number at the end is excluded
d[0:3]

'Sun'

In [ ]:
d[3:6]

'day'

Negative indices
```
  S  u  n  d  a  y
 -6 -5 -4 -3 -2 -1
```

In [ ]:
d[-1]

'y'

Advantages of negative indices:
- can always capture the end of a string without knowing how long it is
- For example, -1 will always grab the last item regardless to its length and makes our solution **dynamic**

In [ ]:
s = 'Sunday'
t = 'Tuesday'

In [ ]:
s[5], t[5]

('y', 'a')

In [ ]:
s[-1], t[-1]

('y', 'y')

## Lists

It's a collection/sequence of elements separated by commas and can take any data type.

In [ ]:
my_list = ['a', 5, 'cat', False]
my_list

['a', 5, 'cat', False]

In [ ]:
type(my_list)

list

In [ ]:
my_list.append('g')

my_list

['a', 5, 'cat', False, 'g']

In [ ]:
# passing a list of items into append, adds the list as a list object
my_list.append([4,5,6])
my_list

['a', 5, 'cat', False, 'g', [4, 5, 6]]

In [ ]:
# to avoid this, use extend
my_list.extend([4,5,6])

my_list

['a', 5, 'cat', False, 'g', [4, 5, 6], 4, 5, 6]

In [ ]:
# access the 2nd element of the sub list
my_list[5][1]

5

In [ ]:
# update an element in the list
my_list[2] = 'dog'
my_list

['a', 5, 'dog', False, 'g', [4, 5, 6], 4, 5, 6]

membership operations

In [ ]:
# 
my_list2 = [ 20, 10, 5]

10 in my_list2

True

In [ ]:
55 in my_list2

False

In [ ]:
# sort a list
my_list2.sort()
my_list2

[5, 10, 20]

In [ ]:
my_list.sort()
my_list

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
# get the number of occurrence of an item 
my_list3 = [2,4,5,4,7,2,4]

my_list3.count(4)

3

`pop()` function - useful when you need to remove and extract an item from a list.

In [ ]:
my_list5 = [4,5,6,7,8]

# not choosing an index, grabs the last item (default value)
last_item = my_list5.pop()
last_item

8

In [ ]:
my_list5

[4, 5, 6, 7]

In [ ]:
first_item = my_list5.pop(0)
my_list5

[5, 6, 7]

## Tuples

In [ ]:
my_tp = (3, 4, 6)

type(my_tp)

tuple

List vs Tuples

| | Tuple | List |
|----|----|----|
|modification|cannot add a new item or delete|can modify, add, or delete|
|speed|very fast| slow compared to tuples|

Sets can contain only unique items.

In [ ]:
my_set = {4,5,4,7,10}

my_set

{4, 5, 7, 10}

you **can** have different types of variables (or more precisely, elements of different data types) in a **set** in Python.

In [ ]:
my_set = {1, "hello", 3.14, (2, 3)}
print(my_set)

Non-hashable types (not allowed in sets):

* Lists (`[1, 2]`)
* Dictionaries (`{"a": 1}`)
* Other sets (`{1, 2}`)

Trying to include these in a set will raise a `TypeError`.

Would you like an example of what types are considered hashable?

## Dictionaries


- a type of data in python that is mutable and unordered
- it contains a key-value pair(s)
- the values can be any data type e.g. strings, numbers, lists, tuples, etc...

In [ ]:
my_data = { #key : value
            'brand': 'Ford',
            'model': 'Mustang',
            'year': 1964,
            'color': 'black'
            }

print(my_data)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'black'}

In [ ]:
my_data['model']

'Mustang'

In [ ]:
print(f"My car is {my_data['brand']} {my_data['model']}. The color is {my_data['color']}.")

My car is Ford Mustang. The color is black.

In [ ]:
# modify an item in the dictionary
my_data['color'] = 'Red'

print(my_data)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Red'}

In [ ]:
del my_data['color']

my_data

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Get the list of keys and values

In [ ]:
my_data.keys()

dict_keys(['brand', 'model', 'year'])

In [ ]:
my_data.values()

dict_values(['Ford', 'Mustang', 1964])

To merge or add new key-values to an existing dictionary

In [ ]:
my_data_b = {'engine':'V6', 'type':'coupe'}

my_data.update(my_data_b)
my_data

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'engine': 'V6',
 'type': 'coupe'}

In [ ]:
# using pop
my_data.popitem()
my_data

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'engine': 'V6'}

In [ ]:
my_data = { #key : value
            'brand': ['Ford', 'Nissan', 'Toyota'],
            'model': ['Mustang', 'Altima', 'Land Cruiser'],
            'year': [1964, 1998, 2000],
            'color': ['black', 'black', 'white']
            }

In [ ]:
my_data['brand'][1]

'Nissan'

In [ ]:
print(my_data['model'][1])  # 'Altima'

In [ ]:
my_data['price'] = [30000, 25000, 45000]

In [19]:
my_data = { #key:value
         'car1': {
             
         'brand':'Ford',
         'model':'Mustang',
         'year':1964,
         'color':'black'
},
   'car2': {
             
         'brand':'Nissan',
         'model':'Altima',
         'year':2012,
         'color':'white'
}
         }

In [20]:
my_data['car1']['brand']

'Ford'

In [ ]:
import pandas as pd

pd.DataFrame(my_data)

    brand         model  year  color
0    Ford       Mustang  1964  black
1  Nissan        Altima  1998  black
2  Toyota  Land Cruiser  2000  white