# Python Fundamentals

## Arithmetic Operations

In [1]:
1 + 10

11

In [2]:
5 ** 2

25

In [3]:
#PEMDAS 
5 + 4 * 6

29

In [4]:
# mod operator
10 % 3

1

In [5]:
10 % 2

0

In [6]:
print('Hello, World!')

Hello, World!

## Using Variables

In [7]:
x = 5

In [8]:
x + 10

15

In [9]:
x = 10
y = 20

In [10]:
x + y

30

In [11]:
print('Difference between x & y:', y - x)

Difference between x & y 10

> Using print allows for multi-line output

In [18]:
print(x + y,'\n') # results with new line
print(x * y)

30

200

In [14]:
print(x + y, x * y)

30 200

### Defining Multiple Variables

In [20]:
#style 1
x = 6
y = 10
z = 5.6

In [21]:
#style 2
x, y, z = 6, 10, 6.6

In [22]:
# print out all variables with a tab separator 
print('x=',x,'\ty=',y,'\tz=',z)

x= 6 	y= 10 	z= 6.6

Python Variables/Identifiers
- It's a name used to identify variable, function, class, or object
- Can be a combination of:
    - letters in lowercase or uppercase
    - digits
    - underscore
- An identifier cannot start with a digit, but can be of any length
- Special chars (!, @, #, $, %) cannot be used
- Avoid using reserved words, like list or class
- They are case sensitive. Example: a is not the same thing as A

In [25]:
A = 10

In [27]:
print(a)

NameError: name 'a' is not defined

## Logical Operators

Examples: >, ==, != (does not equal)

In [28]:
a = 30
b = 30

In [29]:
a == b

True

In [30]:
a < b

False

In [32]:
a = 100
b = 10

a >= b #greater or equals to

True

In [33]:
# combine 2 logical operators

a > b and a > 40

True

with `and` both conditions have to be satisfied

In [34]:

a > b and a == 40 #

False

with `or` either one has to be true

In [35]:
a > b or a == 40

True

## Importing Libraries
- When you install Python, it comes with standard libraries (functionalities)
- A library is an extension to python's capability
- To add new libraries, you need to install then import

In [37]:
import math #imports the math library with its functions

In [38]:
# get the square root of 1024
math.sqrt(1024)

32.0

## Data Types
In Python, objects have data types. We have multiple data types:
- Numbers: integers and floats (decimal)
- Strings: sequence of chars
- Lists: multiple items in a sequence
- Tuples:  multiple items in a sequence
- Sets: multiple unique items in a sequence
- Dictionaries: collection of information ina  key-value set
- Booleans: 2 values True or False

### Numbers

In [39]:
x = 40
y = 5.8

In [41]:
print('Type of x:',type(x),'Type of y:',type(y))

Type of x: <class 'int'> Type of y: <class 'float'>

In [42]:
# convert y to int
int(y)

5

### Strings

There are 2 ways to define a string:
- using single quotes
- or double quotes

In [43]:
my_str = 'This is a string'
#same as
my_str = "This is a string"

In [44]:
type(my_str)

str

A situation where using double quotes is recommended

In [46]:
my_str = "here's your code"

Multi-line Text

In [50]:
message = '''Hi,
I hope you are doing well.
Kind regards
    '''

print(message)

Hi,
I hope you are doing well.
Kind regards

Use backward slash to escape special chars

In [52]:
my_str = " this is a double quote \" char"

### String Concatenation with `print()`

In [53]:
num_fruits = 40
fruit = 'apple'

In [54]:
# method 1
print('We have', num_fruits, fruit)

We have 40 apple

In [56]:
#method 2 - need to convert data types to str and add spaces
# useful when you don't want to add spaces
print('We have'+str(num_fruits)+fruit)

We have40apple

In [57]:
# method 3
print('We have {} {}'.format(num_fruits, fruit))

We have 40 apple

In [59]:
# advantage of format method
print('We have {0} {1}s. {1}s are delicious'.format(num_fruits, fruit))

We have 40 apples. apples are delicious

In [63]:
my_text = '''We have {0} {1}s.
{1}s are delicious.'''.format(num_fruits, fruit)

print(my_text)

We have 40 apples.
apples are delicious.

In [66]:
# method 4
print(f'We have {num_fruits} {fruit}s. {fruit}s are delicious')

We have 40 apples. apples are delicious

In [68]:
# you format numbers in f string

pie = 3.1415
print(f'The value of pie is: {pie:.2f}') #float with 2 decimal nums

The value of pie is: 3.14

To get the length or num of chars ina  string:

In [69]:
len(my_text)

40

String Formatting

In [73]:
my_title = "thIS is A tItLe"

# display in all upper case
my_title.upper()

'THIS IS A TITLE'

> Code above only displays the new format. It doesn't overwrite the original. To do so, do the following:

In [74]:
title = my_title.upper()
title

'THIS IS A TITLE'

In [75]:
my_title.title() #capitalizes the string for a title format

'This Is A Title'

### String Indexing and Slicing

In [76]:
d = 'Sunday'

- every string has an index location
- the index starts at 0
```
 S u n d a y
 0 1 2 3 4 5
```

In [77]:
# get the 3rd item
d[2]

'n'

In [78]:
# use  - note that the number at the end is excluded
d[0:3]

'Sun'

In [80]:
d[3:6]

'day'

Negative indices
```
  S  u  n  d  a  y
 -6 -5 -4 -3 -2 -1
```

In [81]:
d[-1]

'y'

Advantages of negative indices:
- can always capture the end of a string without knowing how long it is
- For example, -1 will always grab the last item regardless to its length and makes our solution **dynamic**

In [82]:
s = 'Sunday'
t = 'Tuesday'

In [87]:
s[5], t[5]

('y', 'a')

In [86]:
s[-1], t[-1]

('y', 'y')