# Advanced Statistics and Hypothesis Testing

Healthcare practitioners employ the binomial distribution to estimate the likelihood of a specific number of patients experiencing adverse reactions from new medications. Letâ€™s assume that there is a known 5% chance of adults suffering from negative side effects after taking a particular drug. A Binomial Distribution Calculator can be utilized to determine the probability that a certain number of patients in a randomly selected group of 100 will have adverse reactions.

In [10]:
from scipy.stats import binom

# parameters
n = 100  # number of trials
p = 0.05  # probability of success

# calculate cumulative distribution function (CDF) for k=0 to 99
# because we want the probability of more than a certain number
prob = binom.pmf(5, n, p)
prob_cum = 1 - binom.cdf(5, n, p)

print(f"The probability that more than 99 out of 100 patients will experience side effects is {prob}")
print(prob_cum)

The probability that more than 99 out of 100 patients will experience side effects is 0.18001782727042887
0.3840008720438588

This code calculates the probability that more than 99 out of 100 patients will experience side effects. You can replace 99 with any number to find the probability that more than that number of patients will experience side effects. Please note that you need to have the scipy library installed in your Python environment to run this code. You can install it using pip: pip install scipy.

Remember to always consult with a statistician or data analyst when interpreting the results of statistical tests, as there can be many nuances and considerations to take into account.

### Poisson Distribution

In [11]:
import numpy as np
import pandas as pd
from scipy.stats import poisson

# Load historical weather data
weather_data = pd.read_csv('weather_data.csv')

# Separate data for rain events and non-rain events
rain_data = weather_data[weather_data['rain'] == 1]
no_rain_data = weather_data[weather_data['rain'] == 0]

# Fit Poisson distributions to rain and non-rain event counts
rain_model = poisson.fit(rain_data['rain_count'])
no_rain_model = poisson.fit(no_rain_data['rain_count'])

# Predict the probability of rain for a given day
prediction_date = '2023-10-04'
prediction_day_data = weather_data[weather_data['date'] == prediction_date]

rain_probability = rain_model.pmf(prediction_day_data['rain_count'])
no_rain_probability = no_rain_model.pmf(prediction_day_data['rain_count'])

print("Probability of rain on", prediction_date, ":", rain_probability)
print("Probability of no rain on", prediction_date, ":", no_rain_probability)

FileNotFoundError: [Errno 2] No such file or directory: 'weather_data.csv'

## Decision Making Using P-Value

The p-value is used to compare to the significance level (alpha) for hypothesis testing (decision making):
1. If p-value is greater than alpha, we **do not reject** the null hypothesis 
 
_p-val > Î± : do not reject (accept)_ $H_0$
 
2. If p-value is smaller than alpha, we **reject** the null hypothesis 
 
_p-val < Î± : reject_ $H_0$

In [20]:
def stat_eval(p_val, alpha):
    if p_val < alpha:
        print('Reject the null hypothesis')
    else:
        print('Accept the null hypothesis')

Evaluation Tests:
- t-test (Inependent, paird, and one-sample)
- Z-Test
- Chi-Square Test
- Kruskal Wallis Test

## t-test

When to use it:
- compare the means of two groups to see if they differ
- the sample size is very low (30 and below)
- when the data follows a normal distribution

### 1. Independent sample t-test:
1. Checks the average of two independent, unrelated groups
2. Samples should be from two different populations

- Null hypothesis: $\mu_{a} = \mu_{b}$
- Alternate hypothesis: $\mu_{a} \ne \mu_{b}$

### 2. Paired sample t-test:
The average of two samples taken from the same population but at different points in time
- Null hypothesis: $\mu_{d}$ = 0
- Alternate hypothesis: $\mu_{d} \ne $ 0

**Example** </br>
For a particular hospital, it is advertised that a particular chemotherapy session does not affect the patient's health 
based on blood pressure (BP).
It is to be checked if the BP before the treatment is equivalent to the BP after the treatment.
Perform a statistical significance at alpha=0.05 to help validate the claim.

- $H_0$: difference between averages is 0 ($\mu_{d}$ = 0 aka $\mu_{before}$ = $\mu_{after}$ )
- $H_a$: difference between averages is not 0 (the chemo affects blood pressure)

In [2]:
import pandas as pd

bp_df = pd.read_csv('StatsDatasets/blood_pressure.csv')
bp_df.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [11]:
bp_df['bp_before'].mean()

156.45

In [12]:
bp_df['bp_after'].mean()

151.35833333333332

In [14]:
# calculate p value
from scipy.stats import ttest_rel

t_test, p_value = ttest_rel(bp_df['bp_before'], bp_df['bp_after'])
print('p_value:', p_value)

p_value: 0.0011297914644840823

In [15]:
# evaluation
alpha = 0.05
stat_eval(p_value,alpha)

Reject the null hypothesis

**Observation** Reject the null hypothesis. In other words, the chemotherapy session does affect the patient's BP.

### 3. One sample t-test:
Comparing the the average of a single group to a known average of the population (different or similar) 
- Null hypothesis: $\mu_{a} =$ X
- Alternate hypothesis: $\mu_{a} \ne $ X

**Example**
For a particular organization, the average age of the employees was claimed 30 years.
The authorities collected a random sample of 10 employees' age data to check the claim made by the organization.
Construct a hypothesis test to validate the hypothesis at a significance level of 0.05.

- $H_0$: sample mean = 30 (null hypothesis)
- $H_a$: sample mean $\neq$ 30 (alternative hypothesis)

In [4]:
import numpy as np
import pandas as pd

ages_df = pd.read_csv('StatsDatasets/Ages.csv')
ages_df

    ages
0     34
1     45
2     65
3     78
4     32
5     12
6     22
7     32
8     33
9     67
10    45
11    33
12    57
13    89
14    25
15    34
16    29
17    46
18    77
19    20

In [5]:
# calculate p value
from scipy.stats import ttest_1samp

t_test, p_val = ttest_1samp(ages_df, 30)
print('p-value:', p_val)

p-value: [0.01012962]

In [6]:
#evaluation
alpha = 0.05

if p_val < alpha:
    print('Reject the null hypothesis')
else:
    print('Accept the null hypothesis')

Reject the null hypothesis

In [8]:
stat_eval(p_val,alpha)

Reject the null hypothesis

**Observation** We reject the null hypothesis. In other words, the organization's claim is false based on the collected sample.

## z-test

When to use z-test
- The population variance is known
- if the population variance is unknown, but the sample size is large (>30)

**Example**</br>
A school principal claims that the students in his school are more intelligent than those of other schools. A random sample of 50 students' IQ scores has a mean score of 110. The mean population IQ is 100 with a Standard deviation of 15. State whether the claim of the principal is right or not at a 5% significance level.

- $H_0$ the average sample IQ is 100 (disagreeing with the princiapl's statement)
- $H_a$ the average sample IQ is above 100 (larger)

In [16]:
#sample givens
mean_sm = 110
size_sm = 50

#population givens
mean_pop = 100
sd_pop = 15

alpha = 0.05

- We're missing the data to run the analysis
- We can generate the data of the students based on the givens (mean, size, sd) assuming they follow a normal distribution
- to generate data I ened to calcualte for sd of sample

![Sd](https://uedufy.com/wp-content/uploads/2022/03/image-3.png)

In [18]:
import math
sd_sm = sd_pop/math.sqrt(size_sm)
print('Standard Dev of Sample:', sd_sm)

Standard Dev of Sample: 2.1213203435596424

In [22]:
import numpy as np
student_sample = np.random.normal(loc=mean_sm, scale=sd_sm, size=size_sm)
student_sample

array([109.69484777, 110.27252173, 104.82811355, 111.13660444,
       110.90221471, 109.57692226, 109.85359776, 112.17724888,
       110.1884842 , 112.82485617, 111.41828095, 112.23674959,
       107.54390652, 113.73400298, 110.45450275, 109.35102096,
       109.54639238, 108.95527527, 108.86102227, 110.68539626,
       109.35500893, 116.30391798, 111.72187014, 108.91019145,
       113.49908557, 112.35836303, 108.26292758, 110.5465329 ,
       110.8967398 , 109.97196926, 109.13327342, 110.38283228,
       109.97545443, 111.04531075, 110.31094273, 110.46812517,
       113.3062461 , 106.84709628, 112.12717218, 108.76125398,
       108.88213193, 109.82658679, 110.07998615, 112.93663339,
       110.58141861, 108.99398664, 106.4319446 , 107.33914648,
       106.0323501 , 112.91386963])

In [20]:
len(student_sample)

50

In [23]:
np.mean(student_sample)

110.2488865945948

In [26]:
# evaluation
from statsmodels.stats.weightstats import ztest
z_score, p_val = ztest(student_sample, value = mean_sm, alternative='larger')
print('p value:', p_val)

p value: 0.20329066697583847

In [27]:
stat_eval(p_val,alpha)

Accept the null hypothesis

**Observation** the principal's statement was correct that his students are smarter than students from other school

## Chi-Square Test

The Chi-Square test can be used to evaluate the relationship between two categorical variables.

- Null Hypothesis: there's no relationship between the two variables
- ALt Hypothesis: there's a relationship between the two variables (they are dependent)

### **Example 1**</br>
Find the relationship between gender and shopping habits (Yes: enjoy shopping, no: does not enjoy shopping)

In [28]:
df_shop = pd.read_csv('StatsDatasets/chi-test.csv')
df_shop.head()

   Gender Shopping
0    Male       No
1  Female      Yes
2    Male      Yes
3  Female      Yes
4  Female      Yes

In [30]:
#to performa chi square evaluation, you need to build a contingency table
cont_table = pd.crosstab(df_shop['Gender'], df_shop['Shopping'])
cont_table

Shopping  No  Yes
Gender
Female     2    3
Male       2    2

In [31]:
from scipy.stats import chi2_contingency

results = chi2_contingency(cont_table)
results

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[2.22222222, 2.77777778],
       [1.77777778, 2.22222222]]))

In [33]:
p_val = results[1]

In [34]:
stat_eval(p_val,alpha)

Accept the null hypothesis

### Example 2

Letâ€™s say we collected data on the favorite car color for men and women. We want to find out whether color and gender are independent or not.

- $H_0$ our two factors (gender and car color) are independent (no replationship)
- $H_a$ our two factors are dependent

In [8]:
shop_df = pd.read_csv('StatsDatasets/Shopping.csv')
shop_df.sample(10)

   Gender Car Color
20      M       Red
12      M     Black
51      F     White
52      F     White
26      M     White
60      F      Pink
33      M     Black
46      M     Black
37      M    Silver
69      F     Black

In [11]:
#get unique values of gender
shop_df['Gender'].unique()

array(['M', 'F'], dtype=object)

In [12]:
shop_df['Car Color'].unique()

array(['Black', 'Silver', 'Red', 'White', 'Pink'], dtype=object)

In [13]:
# convert into a crosstab (contingency table)
cont_table = pd.crosstab(shop_df['Gender'], shop_df['Car Color'])
cont_table

Car Color  Black  Pink  Red  Silver  White
Gender
F              9    22    2       8     14
M             22     2    7      16      2

In [14]:
from scipy.stats import chi2_contingency
results = chi2_contingency(cont_table)
results

Chi2ContingencyResult(statistic=36.33751604258517, pvalue=2.466054233511132e-07, dof=4, expected_freq=array([[16.39423077, 12.69230769,  4.75961538, 12.69230769,  8.46153846],
       [14.60576923, 11.30769231,  4.24038462, 11.30769231,  7.53846154]]))

In [15]:
chi_val = results[0]
chi_val

36.33751604258517

In [16]:
p_val = results[1]
p_val

2.466054233511132e-07

In [25]:
dof = results[2]

In [17]:
#alternative method to get values
chi_val, p_val, dof, exp_freq = chi2_contingency(cont_table)

The expected vlaue array gives me the contingency table as if the null hypothesis is satisfied (no relationship)

In [19]:
# to make it more readable, let's convert the cont table into a dataframe (crosstab)
exp_freq_df = pd.DataFrame(data=exp_freq,
                           index = ['F', 'M'],
                           columns = ['Black',	'Pink',	'Red',	'Silver',	'White'])

exp_freq_df

       Black       Pink       Red     Silver     White
F  16.394231  12.692308  4.759615  12.692308  8.461538
M  14.605769  11.307692  4.240385  11.307692  7.538462

In [21]:
alpha = 0.05
stat_eval(p_val,alpha)

Reject the null hypothesis

We reject the null hypothesis. In other words, there's an association/relationship between gender and car color.

## ANOVA and F-Distribution

- ANOVA: Analysis of Variance
- it asseses whether the means of multiple groups are statistically significant from each other.

- One-way ANOVA: dealing with one single factor, it compares the means of multiple groups
- Two-way ANOVA: same as One-Way, but dealing with two factos
- Repeated Measure ANOVA: same as above, but at multiple points in time

### Example

Suppose you are a researcher conducting an agricultural study to compare the yield of three different fertilizer treatments (Treatment A, Treatment B, and Treatment C) on a specific type of crop. You want to determine if there are significant differences in crop yields among the treatments.

This is a good example for On-way ANOVA application because we're dealing with multiple samples and 1 factor (crop yield)

- $H_0$ the means of all treatments are equal
- $H_a$ at least one treatment (A or B or C) has a significant mean

In [22]:
df_crop = pd.read_csv('StatsDatasets/crop_yield_treatment.csv')
df_crop.head()

   Treatment_A  Treatment_B  Treatment_C
0           50           56           49
1           54           47           57
2           57           55           46
3           49           41           40
4           46           56           54

In [23]:
from scipy.stats import f_oneway

f_statistic, p_value = f_oneway( df_crop['Treatment_A'],df_crop['Treatment_B'],df_crop['Treatment_C'])

In [24]:
#evaluation
alpha = 0.05
stat_eval(p_value, alpha)

Accept the null hypothesis

Accept the null hypothesis. In other words, all treatments have the same results.